<div class='card'>
    <div class='card-header'>
        <h3>{{ pageTitle }}</h3>
    </div>
    <div class='card-body'>
            <div class='row'>
                <div class='col-md-2'>Filter by:</div>
                <div class='col-md-4'><input type="text" [(ngModel)] = 'listFilter' /></div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                  <h4>Filtered by: {{listFilter}}</h4>
                </div>
            </div>

        <div class="table-responsive">
            <table class="table"
                    *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)='ToggleImageColumn()'>
                                {{showImageColumn ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>                        
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor='let prod of filteredProducts' [style.line-height.px]='productImageWidth'>
                        <td>
                            <div *ngIf='showImageColumn'><img src={{prod.imageUrl}} title={{prod.productName}} [style.height.px]='productImageWidth' /> </div>
                        </td>
                        <td>{{prod.productName}}</td>
                        <td>{{prod.productCode | replaceWithSpaces: '-'}}</td>
                        <td>{{prod.releaseDate}}</td>
                        <td>
                            <div class='product-price-original'>{{prod.price | currency: 'CAD' : 'symbol' : '1.2-2' }}</div>
                            <div class='product-price-discount'>*{{prod.calculateDiscount(50) | currency: 'CAD' : 'symbol' : '1.2-2' }}</div>
                        </td>
                        <td>
                            {{prod.starRating}}<pm-star    [rating]='prod.starRating'
                                        [productId]='prod.productId'
                                        (notify)='onNotifyStarEvent($event)'>

                            </pm-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>